<div class="row">
  <div class="container">
    <div class="logo">
        <img src="../../../assets/ImagenesPorfolio/logoArgProg.jpg" id="logoAP">
    </div>

    <div class="redes">
        <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">LOG IN</button>
        <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">LOG OUT</button>
        <a href="https://www.linkedin.com/in/alejandra-r-de-cajal/" target="_blank"><img src="../../../assets/ImagenesPorfolio/linkedin.png" id="linkedin"></a>
        <a href="https://github.com/alejandrardecajal/PI" target="_blank"><img src="../../../assets/ImagenesPorfolio/github.png" id="github"></a>
        
   
    </div>
  </div>
</div>

  
